body {
  background: white;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-color: #77bfd7;
  opacity: 0.9;
  text-align: center;
  padding: 5px;
  color: rgba(255, 250, 250, 0.90);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.header img {
  border-radius: 50%;
  width: 114px;
  height: 128px;
}

/* MENU */

.topnav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #d27ed2;
  border-radius: 2rem;
  padding: 0.8rem;
  height: 3rem;
  font-size: 16px;
  text-shadow: 2px 2px 2px #000000;
  opacity: 0.9;
}

.topnav a {
  color: rgba(255, 250, 250, 0.90);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.topnav a:hover {
  background-color: #77bfd7;
  color: #b961b9;
  font-size: 18px;
  border-radius: 1rem;
  transition: 0.5s;
}

/* LOGIN */

.login-form {
  width: 300px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #77bfd7;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.loginMessage {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #ffffff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #d27ed2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button[type="submit"]:hover {
  background-color: #b961b9;
}

/* FOOTER */

.footer {
  background-color: #77bfd7;
  text-align: center;
  padding: 20px;
  color: rgba(255, 250, 250, 0.90);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 2rem;
  opacity: 0.9;
}





